<!DOCTYPE html>
<!--
Prologue by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
Jekyll integration by Chris Bobbe | chrisbobbe.github.io
-->
<html dir="rtl" lang="fa">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- Robots -->
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://copyright.osmiran.ir/"><!-- Title, description, author -->
  <title>اوپن استریت مپ - پایگاه نظارت بر حق رونوشت نقشه‌های ایران</title>
  <meta name="description" content="پایگاه نظارت بر رعایت حق رونوشت نقشه‌های اوپن‌استریت‌مپ در ایران">
  <meta name="author" content="دانیال بهزادی">

  <!-- Open Graph -->
  <meta property="og:title" content="اوپن استریت مپ - پایگاه نظارت بر حق رونوشت نقشه‌های ایران">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/images/avatar.png">
  <meta property="og:url" content="/">
  <meta property="og:site_name" content="اوپن استریت مپ">
  <meta property="og:description" content="پایگاه نظارت بر رعایت حق رونوشت نقشه‌های اوپن‌استریت‌مپ در ایران">

  <!-- Styles -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist/bootstrap.css">
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js" defer></script><![endif]-->
  <link rel="stylesheet" href="dist/main.css">
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <link rel="stylesheet" href="dist/all.css">

  <!-- Scripts -->
  <script src="dist/jquery_003.js" defer="defer"></script>
  <script src="dist/bootstrap.js" defer="defer"></script>
  <script src="dist/jquery.js" defer="defer"></script>
  <script src="dist/jquery_002.js" defer="defer"></script>
  <script src="dist/skel.js" defer="defer"></script>
  <script src="dist/util.js" defer="defer"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js" defer></script><![endif]-->
  <script src="dist/main.js" defer="defer"></script>

</head>

<body class="">
  <!-- Header -->
  <div id="header">
    <div class="top">
      <!-- Logo -->
      <div id="logo">
        <a href="https://copyright.osmiran.ir/" id="home-link">
          <span class="image avatar48"><img src="dist/avatar.png" alt="Avatar of دانیال بهزادی"></span>
          <h1 id="title">اوپن استریت مپ</h1>
          <p>پایگاه نظارت بر حق رونوشت نقشه‌های ایران</p>
        </a>
      </div>
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="#خانه" id="خانه-link" class="scrolly active"><span class="icon fa-home">خانه</span></a></li>
          <li><a href="#فهرست" id="فهرست-link" class="scrolly"><span class="icon fa-star">فهرست</span></a></li>
          <li><a href="#خطاهای-رایج" id="خطاهای-رایج-link" class="scrolly"><span class="icon fa-book-dead">خطاهای
                رایج</span></a></li>
          <hr>
          <li><a href="https://osmiran.ir/" id="صفحهٔ-اصلی-link">
              <span class="icon fa-link">صفحهٔ اصلی</span>
            </a></li>
          <li><a href="https://forum.osmiran.ir/" id="انجمن-link">
              <span class="icon fa-link">انجمن</span>
            </a></li>
          <li><a href="https://wiki.openstreetmap.org/" id="ویکی-link">
              <span class="icon fa-link">ویکی</span>
            </a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Main -->
  <div id="main">
    <!-- Sections -->
    <section id="خانه" class="shade-one cover dark">
      <div class="container"><img src="dist/banner.jpg" alt="example cover photo" class="back">
        <header>
          <h2 class="alt">حق رونوشت اوپن‌ استریت مپ ایران</h2>
          <p>
            تمامی پایگاه‌ها و برنامه‌هایی که از نقشه‌های اوپن‌استریت‌مپ استفاده
            می‌کنند، باید به صورت واضح، این امر را روی نقشه اعلام کرده و حق رونوشت
            را برای توسعه‌دهندگان اوپن‌استریت‌مپ محفوظ دارند. هم چنین اگر داده های اوپن‌استریت‌مپ را
            با داده های دیگری ترکیب می کنند و یک اثر اشتقاقی می سازند باید اثر نهایی را با مجوز
            ODbL
            به اشتراک بگذارند.
          </p>
        </header>

        <footer>
          <a href="#خطاهای-رایج" class="button scrolly">خطاهای رایج</a>
        </footer>
      </div>
    </section>
    <section id="فهرست" class="shade-two">
      <div class="container">
        <header>
          <h2>فهرست</h2>
        </header>
        <p>
          جدول زیر وضعیت رعایت حق رونوشت توسط استفاده کنندگان را نمایش می دهد.
        </p>
        <table>
          <thead>
            <tr>
              <td>نام</td>
              <td>ارجاع مناسب</td>
              <td>اشتراک همسان</td>
              <td>تاریخ بازبینی</td>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(function(item){ %>
              <tr>
                <td><a href="<%= item.link %>"><%= item.name %></a></td>
                <% if (item.attrib === 'ok') { %>
                  <td class="table-success">کامل</td>
                <% } else if (item.attrib === 'fail') { %>
                  <td class="table-danger">رعایت نشده</td>
                <% } else if (item.attrib === 'partial') { %>
                  <td class="table-warning">ناقص</td>
                <% } else { %>
                  <td>بدون اطلاعات</td>
                <% } %>
                <% if (item.sharealike === 'ok') { %>
                  <td class="table-success">کامل</td>
                <% } else if (item.sharealike === 'fail') { %>
                  <td class="table-danger">رعایت نشده</td>
                <% } else if (item.sharealike === 'non derivative') { %>
                  <td class="table-info">غیر اشتقاقی</td>
                <% } else if (item.sharealike === 'partial') { %>
                  <td>ناقص</td>
                <% } else { %>
                  <td>بدون اطلاعات</td>
                <% } %>
                <td><%= item.date %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <p>
          <a href="https://wiki.openstreetmap.org/wiki/Fa:Lacking_proper_attribution">
            این جدول را ویرایش کنید و بهبود دهید
          </a>
        </p>
      </div>
    </section>
    <section id="خطاهای-رایج" class="shade-three">
      <div class="container">
        <header>
          <h2>خطاهای رایج</h2>
        </header>
        <div>
          <ul>
            <li>
              نام نبردن از OpenStreetMap
            </li>
            <li>
              نام بردن فقط از ارائه‌دهندهٔ نقشه مانند leaflet و عدم اشاره به OpenStreetMap
            </li>
            <li>
              نوشتن نام به صورت کوتاه‌شدهٔ OSM
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Links -->
  </div>
  <!-- Footer -->
  <div id="footer">

    <!-- Copyright -->
    <ul class="copyright">

      <li>به روز رسانی شده در <%= date %></li>

      <li>©اوپن استریت مپ. برخی حقوق محفوظ است.</li>

      <li>منتشر شده با پروانهٔ <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fa">CC BY-SA 4.0 </a><span
          class="fab fa-creative-commons"></span></li>
    </ul>

  </div>


  <div id="headerToggle"><a href="#header" class="toggle"></a></div>
</body>

</html>